.service-icon {
  background-color: #1D2434; /* Cor de fundo */
  padding: 15px; /* Adiciona espaço ao redor do ícone */
  display: inline-block; /* Permite que o fundo envolva o ícone */
  width: 105px;
  height: 105px;
  align-content: center;
}

.loading-bar {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}

.progress {
  height: 100% !important;
  background: rgba(209, 159, 104, 0.7) !important; /* Vermelho transparente */
  transition: width 0.1s linear !important; /* Suaviza a animação de aumento */
}

.slide-counter {
  position: absolute;
  top: 8px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
}
